fastapi
protobuf
pytest
python-dotenv
crewai  # or crewai==  (if you want any version)
google-generativeai  # or google-generativeai== (if you want any version)
langchain
openai-whisper
streamlit
requests
uvicorn
pydantic
python-multipart
openai
crewai
pysqlite3-binary>=0.5.0
chromadb>=0.4.0